.color_white { color: white;}
.color_black { color: black;}
.color_darkrose{color: #8d6262;}
.color_turquoise{color:#537780;}

.back-col_white { background-color: white;}
.back-col_black { background-color: black;}

.back_col_dark { background-color: #393e46;}
.back_col_pink { background-color: #cea5a5;}
.back_col_yellow { background-color: #7d5a5a;}

.nav_dark { background-color: rgba(0, 173, 178, 0.8);}
.nav_pink { background-color: rgba(253, 203, 203, 0.8);}
.nav_yellow { background-color: rgba(125, 90, 90, 0.8);}

.player_bcgr_dark{background-color: #393e46;}
.player_bcgr_pink{background-color: #a89292;}
.player_bcgr_yellow{background-color: #ad958c;}















$COL_00adb5_08_1th: rgba(0, 173, 178, 0.8);

$COL_00adb5_1_1th: rgb(0, 173, 178);

$COL_ffffff_1_1th: white;

$COL_393e46_1_1th: #393e46;

$COL_transparent_1th: rgba(255, 8, 8, 0);

//-------------------------------------------
$COL_838383_1_2th: #838383;
$COL_ad9d9d_1_2th: #ad9d9d;
$COL_d9adad_1_2th: #d9adad;
$COL_fccbcb_1_2th: #fccbcb;

$COL_cceabb: #cceabb;
